<div class="content-container">
    <div class="sidebar">
        {{>sidebar}}
    </div>
    <div class="container p-4">
        <h1 class="text-center">Servicios</h1>
        <div class="container-options">

            <div class="options">
                <a href="/addVigilante">Agregar vigilante</a>
            </div>
            <div class="options">
                <a href="minutas/listVigilantes">Lista de vigilantes</a>
            </div>
        </div>
    </div>
</div>